<div class="container">
    <div class="row main-section">
        <div class="columns ">
            <div class="column is-2 is-1-mobile is-hidden-mobile">
                 <div class="left-icon-column">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="2422 131 32.398 28.892">
                            <g id="web-page-home" transform="translate(2422 104.647)">
                                <g id="Group_81" data-name="Group 81" transform="translate(0 26.353)">
                                    <path id="Path_13" data-name="Path 13" class="cls-1" d="M1.119,43.558H3.758V54.114a1.134,1.134,0,0,0,1.131,1.131h7.728a1.134,1.134,0,0,0,1.131-1.131V46.386h4.712v7.728a1.134,1.134,0,0,0,1.131,1.131h7.351a1.134,1.134,0,0,0,1.131-1.131V43.558h3.2a1.126,1.126,0,0,0,.792-1.923L17.33,26.688a1.126,1.126,0,0,0-1.583-.019L.346,41.617a1.132,1.132,0,0,0-.264,1.244A1.1,1.1,0,0,0,1.119,43.558ZM16.5,29.082,28.564,41.3H26.943a1.134,1.134,0,0,0-1.131,1.131V52.983H20.722V45.255a1.134,1.134,0,0,0-1.131-1.131H12.617a1.134,1.134,0,0,0-1.131,1.131v7.728H6.02V42.427A1.134,1.134,0,0,0,4.889,41.3h-.98Z"
                                        transform="translate(0 -26.353)" />
                                </g>
                            </g>
                        </svg>
                    </a>

                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="2422 189.808 31.398 27.473">
                            <g id="Group_76" data-name="Group 76" transform="translate(2422 189.808)">
                                <path id="Path_8" data-name="Path 8" class="cls-1" d="M19.645,21.849,25.54,14l5.933,7.849H27.548v1.962A5.893,5.893,0,0,1,21.661,29.7H9.887A5.893,5.893,0,0,1,4,23.812V21.849H7.925v1.962a1.966,1.966,0,0,0,1.962,1.962H21.661a1.966,1.966,0,0,0,1.962-1.962V21.849Z"
                                    transform="translate(-0.075 -2.226)" />
                                <path id="Path_9" data-name="Path 9" class="cls-1" d="M11.828,9.849,5.933,17.7,0,9.849H3.925V7.887A5.893,5.893,0,0,1,9.812,2H21.586a5.893,5.893,0,0,1,5.887,5.887V9.849H23.548V7.887a1.966,1.966,0,0,0-1.962-1.962H9.812A1.966,1.966,0,0,0,7.849,7.887V9.849Z"
                                    transform="translate(0 -2)" />
                            </g>
                        </svg>
                    </a>

                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="2426.303 248 21.997 28.281">
                            <g id="bookmark-outline" transform="translate(2426.303 248)">
                                <path id="Path_12" data-name="Path 12" class="cls-1" d="M69.854,0H54.142A3.152,3.152,0,0,0,51,3.142V28.281l11-4.714,11,4.714V3.142A3.152,3.152,0,0,0,69.854,0Zm0,23.568L62,20.111l-7.856,3.457V3.142H69.854Z"
                                    transform="translate(-51)" />
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="column is-7 is-10-mobile">
               <div class="detail-questions-content">
                    <div class="questions-item">
                        <div class="questions-vote">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 "/>
                                </svg>
                            </a>
                            <p>
                                0
                            </p>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                                </svg>
                            </a>
                        </div>

                        <div class="questions-item-header">
                            <img src="https://pbs.twimg.com/profile_images/907217639587684357/F5h0DPIt_400x400.jpg" alt="">
                            <div class="ask-name">
                                <p><a href="">Okan Vurdu</a></p>
                                <small>03.09.2017 / Pazar</small>
                            </div>
                        </div>
                        <div class="questions-item-body">
                            <p>
                                 <a href="">
                                    React JS’i diğerlerinden ayıran özellik tam olarak nedir? React’in teknik olarak üstün olmasının  arkasındaki nedenler nelerdir?
                                </a>
                            </p>
                            <span>
                                <a href="">
                                    ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                </a>
                            </span>  
                        </div>
                         <div class="questions-item-footer">
                            <p>
                                <a href="#!" onclick="detailAnswer()">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="3325.948 504.374 19.179 15.983">
                                        <path id="ic_share" class="cls-1" d="M326.179,206.459,318.721,199v4.262c-7.459,1.065-10.655,6.393-11.721,11.721,2.664-3.729,6.393-5.434,11.721-5.434v4.369Z" transform="translate(3018.947 305.374)"/>
                                    </svg>
                                    Cevap Ver
                                </a>
                            </p>
                            
                        </div>
                    </div>
               </div>
               <div class="answer-editor" id="answer-text-editor">
                    <div id="trumbowyg-demo"></div>

                    <!-- WSYIWYG -->
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
                    <script src="bower_components/trumbowyg/dist/trumbowyg.min.js"></script>
                    <link rel="stylesheet" href="bower_components/trumbowyg/dist/ui/trumbowyg.min.css">
                    <script>$('#trumbowyg-demo').trumbowyg();</script>
                    <!-- WSYIWYG -->


               </div>

               <div class="answer-content">
                   <h3> <span>2</span> Cevap </h3>

                      <div class="questions-item">
                        <div class="questions-vote">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 "/>
                                </svg>
                            </a>
                            <p>
                                0
                            </p>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                                </svg>
                            </a>
                        </div>

                        <div class="questions-item-header">
                            <img src="https://pbs.twimg.com/profile_images/907217639587684357/F5h0DPIt_400x400.jpg" alt="">
                            <div class="ask-name">
                                <p><a href="">Okan Vurdu</a></p>
                                <small>03.09.2017 / Pazar</small>
                            </div>
                        </div>
                        <div class="questions-item-body">
                            <span>
                                <a href="">
                                    ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                </a>
                            </span>  
                        </div>
                         <div class="questions-item-footer">
                           <div class="share-item">
                               <a href="">
                                <img src="content/img/share.png" alt="">
                               </a>
                           </div>
                        </div>
                    </div>
                    <div class="questions-item">
                        <div class="questions-vote">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 "/>
                                </svg>
                            </a>
                            <p>
                                0
                            </p>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                                </svg>
                            </a>
                        </div>

                        <div class="questions-item-header">
                            <img src="https://pbs.twimg.com/profile_images/907217639587684357/F5h0DPIt_400x400.jpg" alt="">
                            <div class="ask-name">
                                <p><a href="">Okan Vurdu</a></p>
                                <small>03.09.2017 / Pazar</small>
                            </div>
                        </div>
                        <div class="questions-item-body">
                            <span>
                                <a href="">
                                    ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                      ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                      ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                      ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                    
                                </a>
                            </span>  
                        </div>
                         <div class="questions-item-footer">
                           <div class="share-item">
                               <a href="">
                                <img src="content/img/share.png" alt="">
                               </a>
                           </div>
                        </div>
                    </div>
               </div>
               
            </div>
            <div class="column is-2 is-0-mobile">
               <div class="most-popular">
                    <h2>En Popüler Sorular</h2>
                    <ul>
                        <li>
                            <a href="">
                                Favori Lord of the Rings karakterin kim?
                            </a>
                        </li>
                        <li>
                            <a href="">
                                LG Q6 vs Samsung Galaxy S8?
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Aksiyon kamerası alacağım hangi markayı  almalıyım? Hangisi daha kalitelidir?
                            </a>
                        </li>
                        <li>
                            <a href="">
                            Spor sonrası fazla protein tüketmek zararlı  mıdır? Kaç gramdan fazlası zarar verir?
                            </a>
                        </li>
                        <li>
                            <a href="">
                               Winston Churchill ile A.B.D arasında, SSCB  hakkında yapılmış gizli bir anlaşma var mı?
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>