  <div class="ask-question">
                    <div id="modal-open2">
                        <div class="ask-question-profile">
                            <img src="content/img/gormel.jpg" alt="Profile pic">
                            <p>Ömer Faruk Görmel</p>
                        </div>
                        <input type="text" placeholder="Sormak istediğinizi buraya yazın..." disabled>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="3398.94 220 20.503 17.574">
                                <g id="send-button" transform="translate(3398.94 181.75)">
                                    <g id="send" transform="translate(0 38.25)">
                                    <path id="Path_5" data-name="Path 5" class="cls-1" d="M0,55.824l20.5-8.787L0,38.25v6.834l14.645,1.953L0,48.99Z" transform="translate(0 -38.25)"/>
                                    </g>
                                </g>
                            </svg>
                        </button>
                    </div>
               </div>