  <div class="left-icon-column">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="2422 131 32.398 28.892">
                            <g id="web-page-home" transform="translate(2422 104.647)">
                                <g id="Group_81" data-name="Group 81" transform="translate(0 26.353)">
                                    <path id="Path_13" data-name="Path 13" class="cls-1" d="M1.119,43.558H3.758V54.114a1.134,1.134,0,0,0,1.131,1.131h7.728a1.134,1.134,0,0,0,1.131-1.131V46.386h4.712v7.728a1.134,1.134,0,0,0,1.131,1.131h7.351a1.134,1.134,0,0,0,1.131-1.131V43.558h3.2a1.126,1.126,0,0,0,.792-1.923L17.33,26.688a1.126,1.126,0,0,0-1.583-.019L.346,41.617a1.132,1.132,0,0,0-.264,1.244A1.1,1.1,0,0,0,1.119,43.558ZM16.5,29.082,28.564,41.3H26.943a1.134,1.134,0,0,0-1.131,1.131V52.983H20.722V45.255a1.134,1.134,0,0,0-1.131-1.131H12.617a1.134,1.134,0,0,0-1.131,1.131v7.728H6.02V42.427A1.134,1.134,0,0,0,4.889,41.3h-.98Z"
                                        transform="translate(0 -26.353)" />
                                </g>
                            </g>
                        </svg>
                    </a>

                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="2422 189.808 31.398 27.473">
                            <g id="Group_76" data-name="Group 76" transform="translate(2422 189.808)">
                                <path id="Path_8" data-name="Path 8" class="cls-1" d="M19.645,21.849,25.54,14l5.933,7.849H27.548v1.962A5.893,5.893,0,0,1,21.661,29.7H9.887A5.893,5.893,0,0,1,4,23.812V21.849H7.925v1.962a1.966,1.966,0,0,0,1.962,1.962H21.661a1.966,1.966,0,0,0,1.962-1.962V21.849Z"
                                    transform="translate(-0.075 -2.226)" />
                                <path id="Path_9" data-name="Path 9" class="cls-1" d="M11.828,9.849,5.933,17.7,0,9.849H3.925V7.887A5.893,5.893,0,0,1,9.812,2H21.586a5.893,5.893,0,0,1,5.887,5.887V9.849H23.548V7.887a1.966,1.966,0,0,0-1.962-1.962H9.812A1.966,1.966,0,0,0,7.849,7.887V9.849Z"
                                    transform="translate(0 -2)" />
                            </g>
                        </svg>
                    </a>

                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="2426.303 248 21.997 28.281">
                            <g id="bookmark-outline" transform="translate(2426.303 248)">
                                <path id="Path_12" data-name="Path 12" class="cls-1" d="M69.854,0H54.142A3.152,3.152,0,0,0,51,3.142V28.281l11-4.714,11,4.714V3.142A3.152,3.152,0,0,0,69.854,0Zm0,23.568L62,20.111l-7.856,3.457V3.142H69.854Z"
                                    transform="translate(-51)" />
                            </g>
                        </svg>
                    </a>
                </div>