<div class="modal" id="main-question-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <div class="profile-info">
                         <img src="content/img/gormel.jpg" alt="Profile Pic">
                        <h3>Ömer Faruk Görmel</h3>
                    </div>
                    <form action="">
                        <input type="text" placeholder="Sorunuzu buraya yazın...">
                        <textarea  placeholder="Soru hakkında açıklamayı buraya yazabiliriniz..." ></textarea>
                        <button>
                            <span><i class="fa fa-send"></i></span>
                            GÖNDER
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>