<div class="most-popular">
                    <h2>En Popüler Sorular</h2>
                    <ul>
                        <li>
                            <a href="">
                                Favori Lord of the Rings karakterin kim?
                            </a>
                        </li>
                        <li>
                            <a href="">
                                LG Q6 vs Samsung Galaxy S8?
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Aksiyon kamerası alacağım hangi markayı  almalıyım? Hangisi daha kalitelidir?
                            </a>
                        </li>
                        <li>
                            <a href="">
                            Spor sonrası fazla protein tüketmek zararlı  mıdır? Kaç gramdan fazlası zarar verir?
                            </a>
                        </li>
                        <li>
                            <a href="">
                               Winston Churchill ile A.B.D arasında, SSCB  hakkında yapılmış gizli bir anlaşma var mı?
                            </a>
                        </li>
                    </ul>
                </div>