<div class="container">
    <div class="row main-section">
        <div class="columns ">
            <div class="column is-2 is-1-mobile is-hidden-mobile">
               <%include src="components/left-icons.html"%>
            </div>
            <div class="column is-7 is-10-mobile">
               <div class="detail-questions-content">
                    <div class="questions-item">
                        <div class="questions-vote">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 "/>
                                </svg>
                            </a>
                            <p>
                                0
                            </p>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                                </svg>
                            </a>
                        </div>

                        <div class="questions-item-header">
                            <img src="https://pbs.twimg.com/profile_images/907217639587684357/F5h0DPIt_400x400.jpg" alt="">
                            <div class="ask-name">
                                <p><a href="">Okan Vurdu</a></p>
                                <small>03.09.2017 / Pazar</small>
                            </div>
                        </div>
                        <div class="questions-item-body">
                            <p>
                                 <a href="">
                                    React JS’i diğerlerinden ayıran özellik tam olarak nedir? React’in teknik olarak üstün olmasının  arkasındaki nedenler nelerdir?
                                </a>
                            </p>
                            <span>
                                <a href="">
                                    ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                </a>
                            </span>  
                        </div>
                         <div class="questions-item-footer">
                            <p>
                                <a href="#!" onclick="detailAnswer()">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="3325.948 504.374 19.179 15.983">
                                        <path id="ic_share" class="cls-1" d="M326.179,206.459,318.721,199v4.262c-7.459,1.065-10.655,6.393-11.721,11.721,2.664-3.729,6.393-5.434,11.721-5.434v4.369Z" transform="translate(3018.947 305.374)"/>
                                    </svg>
                                    Cevap Ver
                                </a>
                            </p>
                            
                        </div>
                    </div>
               </div>
               <div class="answer-editor" id="answer-text-editor">
                    <div id="trumbowyg-demo"></div>

                    <!-- WSYIWYG -->
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
                    <script src="bower_components/trumbowyg/dist/trumbowyg.min.js"></script>
                    <link rel="stylesheet" href="bower_components/trumbowyg/dist/ui/trumbowyg.min.css">
                    <script>$('#trumbowyg-demo').trumbowyg();</script>
                    <!-- WSYIWYG -->


               </div>

               <div class="answer-content">
                   <h3> <span>2</span> Cevap </h3>

                      <div class="questions-item">
                        <div class="questions-vote">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 "/>
                                </svg>
                            </a>
                            <p>
                                0
                            </p>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                                </svg>
                            </a>
                        </div>

                        <div class="questions-item-header">
                            <img src="https://pbs.twimg.com/profile_images/907217639587684357/F5h0DPIt_400x400.jpg" alt="">
                            <div class="ask-name">
                                <p><a href="">Okan Vurdu</a></p>
                                <small>03.09.2017 / Pazar</small>
                            </div>
                        </div>
                        <div class="questions-item-body">
                            <span>
                                <a href="">
                                    ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                </a>
                            </span>  
                        </div>
                         <div class="questions-item-footer">
                           <div class="share-item">
                               <a href="">
                                <img src="content/img/share.png" alt="">
                               </a>
                           </div>
                        </div>
                    </div>
                    <div class="questions-item">
                        <div class="questions-vote">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 "/>
                                </svg>
                            </a>
                            <p>
                                0
                            </p>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                                </svg>
                            </a>
                        </div>

                        <div class="questions-item-header">
                            <img src="https://pbs.twimg.com/profile_images/907217639587684357/F5h0DPIt_400x400.jpg" alt="">
                            <div class="ask-name">
                                <p><a href="">Okan Vurdu</a></p>
                                <small>03.09.2017 / Pazar</small>
                            </div>
                        </div>
                        <div class="questions-item-body">
                            <span>
                                <a href="">
                                    ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                      ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                      ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                      ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye mi?
                                    Native uygulama  yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                    
                                </a>
                            </span>  
                        </div>
                         <div class="questions-item-footer">
                           <div class="share-item">
                               <a href="">
                                <img src="content/img/share.png" alt="">
                               </a>
                           </div>
                        </div>
                    </div>
               </div>
               
            </div>
            <div class="column is-2 is-0-mobile">
               <%include src="components/most-popular.html"%>
            </div>
        </div>
    </div>
</div>