<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sorufil - </title>
    <%include src="vendors/styles.html"%>
</head>

<body>
   <%include src="layout/navbar.html"%>

   <%include src="main.html"%>

   <%include src="components/modal.html"%>
</body>


<%include src="vendors/scripts.html"%>
</html>