<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sorufil - Giriş</title>
    <%include src="vendors/styles.html"%>
</head>

<body>

    <div class="login-content">
        <div class="container">
            <div class="login-brand-logo">
                <a href="">
                    <img src="content/img/sorufil-logo.png" alt="">
                </a>
            </div>

            <div class="columns">
                <div class="column">
                    <h1>Giriş Yap</h1>
                    <p>Hoş geldin, burası deneyimlerini aktarabildiğin ve sorularına cevap arayabildiğin herkese açık bir platform.</p>
                    <p>Hemen başlamak için aşağıdaki butonu kullan.</p>

                    <a id="tw-login-btn" href="index.html">
                        <span>
                            <i class="fa fa-twitter"></i>
                        </span>
                        Twitter ile Giriş Yap
                    </a>
                </div>
                <div class="column">
                    <img id="login-pattern" src="content/img/login-pattern.png" alt="">
                </div>
            </div>
        </div>
    </div>

</body>


<%include src="vendors/scripts.html"%>

</html>