<div class="container">
    <div class="row main-section">
        <div class="columns ">
            <div class="column is-2 is-0-mobile is-hidden-mobile">
                <%include src="components/left-icons.html"%>
            </div>
            <div class="column is-7 is-12-mobile">
                <%include src="components/ask-question.html"%>

                    <div class="questions-content">

                        <div class="questions-item">
                            <div class="questions-vote">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                        viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 " />
                                    </svg>
                                </a>
                                <p>
                                    0
                                </p>
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                        viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 " />
                                    </svg>
                                </a>
                            </div>

                            <div class="questions-item-header">
                                <img src="https://pbs.twimg.com/profile_images/907217639587684357/F5h0DPIt_400x400.jpg" alt="">
                                <div class="ask-name">
                                    <p>
                                        <a href="">Okan Vurdu</a>
                                    </p>
                                    <small>03.09.2017 / Pazar</small>
                                </div>
                            </div>
                            <div class="questions-item-body">
                                <p>
                                    <a href="detail.html">
                                        React JS’i diğerlerinden ayıran özellik tam olarak nedir? React’in teknik olarak üstün olmasının arkasındaki nedenler nelerdir?
                                    </a>
                                </p>
                                <span>
                                    <a href="detail.html">
                                        ReactJS, Angular 2 ve 4’ü bitirir sektörü yer yutar diyolar? Hiç anlayamadım tam olarak sebebi neden? Facebook yaptı diye
                                        mi? Native uygulama yapımını kolaylaştırdığı için mi? tam olarak anlayamadım?
                                    </a>
                                </span>
                            </div>
                            <div class="questions-item-footer">
                                <span>
                                    <a href="detail.html">
                                        <b>10</b> Cevap
                                    </a>
                                </span>

                                <p>
                                    <a href="detail.html">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="3325.948 504.374 19.179 15.983">
                                            <path id="ic_share" class="cls-1" d="M326.179,206.459,318.721,199v4.262c-7.459,1.065-10.655,6.393-11.721,11.721,2.664-3.729,6.393-5.434,11.721-5.434v4.369Z"
                                                transform="translate(3018.947 305.374)" />
                                        </svg>
                                        Cevap Ver
                                    </a>
                                </p>

                            </div>
                        </div>

                        <div class="questions-item">
                            <div class="questions-vote">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                        viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 " />
                                    </svg>
                                </a>
                                <p>
                                    0
                                </p>
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                        viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 " />
                                    </svg>
                                </a>
                            </div>

                            <div class="questions-item-header">
                                <img src="http://www.hurhaber.com/haber_resim/yeni-normalO712MBUW84.jpg" alt="">
                                <div class="ask-name">
                                    <p>
                                        <a href="">Celal Şengör</a>
                                    </p>
                                    <small>03.09.2017 / Pazar</small>
                                </div>
                            </div>
                            <div class="questions-item-body">
                                <p>
                                    <a href="detail.html">
                                        Anaksimandros, evrenin ana maddesini ‘hiçlik’ olarak tanımlarken tam olarak neden bahsediyor?
                                    </a>
                                </p>
                                <span>
                                    <a href="detail.html">
                                        Thales ile yaptığı bir tartışmada, Thales evrenin ötesinde su olduğunu söyler, Aristo hava olduğunu söyler ancak Anaksimandros
                                        hiçlik konusunda ısrar etmektedir? Hiçlik ile neyi anlatmak istiyor?
                                    </a>
                                </span>
                            </div>
                            <div class="questions-item-footer">
                                <span>
                                    <a href="detail.html">
                                        <b>10</b> Cevap
                                    </a>
                                </span>

                                <p>
                                    <a href="detail.html">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="3325.948 504.374 19.179 15.983">
                                            <path id="ic_share" class="cls-1" d="M326.179,206.459,318.721,199v4.262c-7.459,1.065-10.655,6.393-11.721,11.721,2.664-3.729,6.393-5.434,11.721-5.434v4.369Z"
                                                transform="translate(3018.947 305.374)" />
                                        </svg>
                                        Cevap Ver
                                    </a>
                                </p>

                            </div>
                        </div>

                        <div class="questions-item">
                            <div class="questions-vote">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                        viewBox="0 0 407.436 407.436" style="enable-background:new 0 0 407.436 407.436;" xml:space="preserve">
                                        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 " />
                                    </svg>
                                </a>
                                <p>
                                    0
                                </p>
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                        viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve">
                                        <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 " />
                                    </svg>
                                </a>
                            </div>

                            <div class="questions-item-header">
                                <img src="https://pbs.twimg.com/profile_images/378800000468556456/d1a3c6ac837b3be2c271a0a00644cd27.jpeg" alt="">
                                <div class="ask-name">
                                    <p>
                                        <a href="">Oğuzhan Aygün</a>
                                    </p>
                                    <small>03.09.2017 / Pazar</small>
                                </div>
                            </div>
                            <div class="questions-item-body">
                                <p>
                                    <a href="detail.html">
                                        Alman arabalarında turbocharge koruması için kullanılan herhangi bir alet var mı? Motorun için kırık bir kapak problemi ile
                                        karşılaştım, o parça turboya da zarar verdi. Bunun gibi durumlardan korunmak için
                                        kesin alınabilecek önlemler nelerdir?

                                    </a>
                                </p>
                                <span>
                                    <a href="detail.html">

                                    </a>
                                </span>
                            </div>
                            <div class="questions-item-footer">
                                <span>
                                    <a href="detail.html">
                                        <b>10</b> Cevap
                                    </a>
                                </span>

                                <p>
                                    <a href="detail.html">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="3325.948 504.374 19.179 15.983">
                                            <path id="ic_share" class="cls-1" d="M326.179,206.459,318.721,199v4.262c-7.459,1.065-10.655,6.393-11.721,11.721,2.664-3.729,6.393-5.434,11.721-5.434v4.369Z"
                                                transform="translate(3018.947 305.374)" />
                                        </svg>
                                        Cevap Ver
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>
            </div>
            <div class="column is-2 is-hidden-mobile">
                <%include src="components/most-popular.html"%>
            </div>
        </div>
    </div>
</div>