<nav class="navbar">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <img src="content/img/sorufil-logo.png" alt="Sorufil Logo">
            </a>

            <div class="navbar-burger burger" data-target="navMenubd-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenubd-example" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item is-center">
                    <form action="">
                        <input class="input" type="text" placeholder="Arama Yapmak İstediğin Kelimeyi Buraya Yaz">
                    </form>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <a class="button is-primary main-red" id="modal-open">
                            <span>Soru Sor</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link " href="">
                        <img id="profile-pic" src="content/img/gormel.jpg" alt="">
                    </a>
                    <div id="blogDropdown" class="navbar-dropdown">
                        <a class="navbar-item" href="/">
                            <p>Çıkış</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>