.detail-questions-content{
    @extend .questions-content;
.questions-item{
    width: 100% !important;
    margin: 0 auto;
    transform:  translateX(0) !important;
    -webkit-transform:  translateX(0) !important; 
    -moz-transform:  translateX(0) !important;
    border-bottom: 1px solid transparent !important; 
}
  .questions-vote{
    bottom: 30px !important;
    right: 0;
    left: auto !important;
    width: 60px !important;
    top: auto !important;
      a{
          width: 15px !important;
          display: inline-block !important;
          margin-right: 13px;
      }
      p{
          display: none;
      }
  }
}

.answer-editor{
    width: 95%;
    position: relative;
    margin: 20px auto;
    display: none;
}
.open-editor{
   display: block !important;

}

.trumbowyg-button-pane{
        background: #f8ebeb !important;
}

.answer-content{
    @extend .questions-content;
    width: 95%;
    margin: 20px auto;
    display: block;
    h3{
        font-size: 19px;
        font-weight: 700;
        color: $main-blue;
        padding-bottom: 10px;
        border-bottom: 2px solid $main-blue;
    }

    .share-item{
        position: absolute;
        top: 40px;
        right: 10px;      
    }
}