.main-section {
    margin-top: 50px;
    .column {
        min-height: calc(90vh - 50px);
        box-shadow: 1px 0 0 0 rgba(204,204,204, .5);
        &:first-child {
            text-align: right;
        }
        &:last-child {
            box-shadow: 0px 0 0 0 #ccc;
        }
        .left-icon-column {
            a {
                display: block;
                margin-bottom: 20px;
                svg {
                    width: 30px;
                    height: 25px;
                    fill: $main-red;
                }
            }
        }
        .most-popular {
            width: 100%;
            display: block;
            h2 {
                color: $main-red;
                box-shadow: -5px 0 0 0 $main-red;
                padding: 0 10px;
                font-weight: 600;
                font-size: 19px;
                transform: translateX(-7px);
            }
            ul {
                padding: 0;
                margin: 20px 0;
                width: 100%;
                display: block;
                li {
                    position: relative;
                    counter-increment: licounter;
                    padding: 15px 0;
                    &:after {
                        position: absolute;
                        top: -12px;
                        left: -7px;
                        font-weight: 900;
                        font-size: 40px;
                        opacity: .2;
                        color: #454545;
                        content: counter(licounter);
                    }
                    a {
                        color: #454545;
                        font-size: 16px;
                        &:hover {
                            color: #000000;
                        }
                    }
                }
            }
        }
        .ask-question {
            width: 95%;
            position: relative;
            display: block;
            margin: 0 auto;
            .ask-question-profile {
                position: relative;
                display: flex;
                transform: translate(20px, 20px);
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    display: inline-block;
                }
                p {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0 10px;
                    color: #454545;
                }
            }
            button {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                background: $main-blue;
                outline: none;
                border: 0;
                position: absolute;
                bottom: -20px;
                ;
                right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    width: 20px;
                    fill: #fff;
                }
            }
            input {
                width: 100%;
                outline: none;
                border: 1px solid #ccc;
                padding: 20px 10px 20px 100px;
                border-radius: 10px;
                font-size: 15px;
                &::-webkit-input-placeholder {
                    opacity: .3;
                }
                &::-moz-placeholder {
                    opacity: .3;
                }
                &:-ms-input-placeholder {
                    opacity: .3;
                }
                &:-moz-placeholder {
                    opacity: .3;
                }
            }
        }
        .questions-content {
            width: 95%;
            margin: 0px auto 30px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            
            .questions-item {
                position: relative;
                width: calc(100% - 60px);
                transform: translateX(60px);
                -webkit-transform: translateX(60px);
                -moz-transform: translateX(60px);
                padding: 30px 0;
                border-bottom: 1px solid #ccc;
                .questions-item-header {
                    display: flex;
                    padding: 10px 0 20px;
                    border-bottom: 1px solid rgba(204, 204, 204, .4);
                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 10px;
                    }
                    .ask-name {
                        margin-left: 10px;
                        p {
                            display: block;
                            font-size: 18px;
                            font-weight: 600;
                            margin: 0;
                            a {
                                color: #454545;
                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                        small {
                            display: block;
                            color: #454545;
                            opacity: .8;
                            font-size: 13px;
                        }
                    }
                }
                .questions-item-body {
                    width: 100%;
                    p {
                        font-size: 20px;
                        font-weight: 600;
                        width: 100%;
                        padding: 10px 0;
                        a {
                            color: #000000;
                            &:hover{
                                opacity: .7;
                            }
                        }
                    }
                    span {
                        font-size: 15px;
                        font-weight: 400;
                        width: 100%;
                        padding: 10px 0;
                        opacity: .8;
                        a {
                            color: #454545;
                        }
                    }
                }
                .questions-item-footer {
                    margin-top: 20px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    span {
                        font-size: 14px;
                        a {
                            color: #454545;
                        }
                    }
                    p {
                        a {
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            padding: 6px 20px 7px;
                            color: #fff;
                            font-weight: 600;
                            background: $main-blue;
                            &:hover{
                                  background: lighten($main-blue, 10%)
                            }
                            svg {
                                margin-right: 10px;
                                height: 23px;
                                fill: #fff;
                                opacity: .4;
                            }
                        }
                    }
                }
                .questions-vote{  
                    position: absolute;
                    top: 40px;
                    left: -50px;
                    width: 25px;
                    a{
                        width: 25px;
                        height: 20px;
                        display: block;
                        svg{
                            width: 25px;
                            height: 25px;
                            fill: #454545;
                            opacity: .3;
                        }
                        &:hover{
                            svg{
                                opacity: .5;
                            }
                        }
                    }
                    p{
                        width:25px;
                        font-weight: 900;
                        text-align: center;
                        margin: 0 0 -3px 0;
                        font-size: 20px;
                        padding: 0;
                        opacity: .9;
                    }
                }
            }
        }
    }
}