body,
html {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    border-top: 5px solid $main-red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    .navbar-burger {
        height: 65px;
    }
    .navbar-burger.is-active span {
        background: #000;
    }
    .navbar-brand {
        .navbar-item {
            &:hover {
                background: transparent;
            }
        }
        img {
            height: 50px;
            max-height: 50px;
        }
    }
    .main-red {
        background: $main-red !important;
        font-weight: 600;
        font-size: 18px;
        font-family: 'Archivo Narrow', sans-serif;
        &:hover {
            opacity: .9;
        }
    }
    .is-center {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        input {
            width: 350px;
            font-size: 13px;
            height: 40px;
            padding-right: 30px;
            border-radius: 5px;
            border: 1px solid #95989A;
            box-shadow: 0 0 0 transparent;
            &::-webkit-input-placeholder {
                color: rgba(69, 69, 69, .45);
            }
            &::-ms-input-placeholder {
                color: rgba(69, 69, 69, .45);
            }
            &::-moz-placeholder {
                color: rgba(69, 69, 69, .45);
                opacity: 1;
            }
            &::-moz-placeholder {
                color: rgba(69, 69, 69, .45);
                opacity: 1;
            }
        }
        &:after {
            content: '';
            position: absolute;
            right: 25px;
            top: 50%;
            background-image: url(../img/ic_search_white.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            transform: translateY(-50%);
            color: #000;
            opacity: .6;
        }
    }
    #profile-pic {
        width: 50px;
        height: 50px;
        max-height: 50px;
        border-radius: 10px;
    }
    .navbar-link::after {
        border: 1px solid #454545;
        border-right: 0;
        border-top: 0;
    }
}

.modal {
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }
    .card {
        border-radius: 10px;
        padding: 20px 30px;
        .profile-info {
            display: flex;
            align-items: center;
            img {
                width: 45px;
                height: 45px;
                border-radius: 10px;
            }
            h3 {
                display: inline-block;
                font-size: 18px;
                margin: 5px 5px 5px 15px;
            }
        }
        form {
            margin-top: 15px;
            input {
                font-family: 'Source Sans Pro', sans-serif;
                box-shadow: 0 0 0 transparent;
                -webkit-appearance: none;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border: 1px solid transparent;
                border-radius: 3px;
                -webkit-box-shadow: none;
                box-shadow: none;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                font-size: 18px;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                line-height: 1.5;
                position: relative;
                vertical-align: top;
                background-color: white;
                color: #363636;
                max-width: 100%;
                width: 100%;
                border-bottom: 1px solid #ccc;
                padding: 10px 5px 20px 5px;
                &:active {
                    box-shadow: 0 0 0 transparent;
                }
                &:focus {
                    outline: none;
                }
            }
            textarea {
                 font-family: 'Source Sans Pro', sans-serif;
                box-shadow: 0 0 0 transparent;
                -webkit-appearance: none;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border: 1px solid transparent;
                border-radius: 3px;
                -webkit-box-shadow: none;
                box-shadow: none;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                line-height: 1.5;
                position: relative;
                vertical-align: top;
                background-color: white;
                color: #363636;
                max-width: 100%;
                width: 100%;
                padding: 10px 5px 20px 5px;
                border: none;
                font-size: 14px;
                height: 120px;
                resize: none;
                &:active {
                    box-shadow: 0 0 0 transparent;
                }
                &:focus {
                    outline: none;
                }
            }
            button{
                text-align: right;
                background: $main-blue;
                outline: none;
                float:right;
                border: none;
                padding: 5px 15px;
                border-radius: 5px;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                font-family: 'Source Sans Pro', sans-serif;
                .fa{
                    color: #fff;
                    margin-right: 10px;
                }
            }
        }
    }
}