.login-content{
    height: 100vh;
    width: 100vw;
    position: relative;
    .container{
        height: 100vh;
        .columns{
            position:relative;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            .column{
                h1{
                    font-size: 45px;
                    color: #000;
                    font-weight: 600;
                }
                p{
                    color:#454545;
                    font-size:17px;
                    margin: 20px 0;
                }
                &:last-child{
                    text-align: center;
                }
                #tw-login-btn{
                    outline: none;
                    border: 0; 
                    border-radius: 10px;
                    background: #50ABF1;
                    color:#fff;
                    font-size: 17px;
                    padding: 5px 40px;
                    font-family: 'Source Sans Pro', sans-serif;
                    margin: 30px 0;
                    cursor:pointer;
                    display: inline-block;
                    span{
                        .fa{
                            color: #fff;
                            margin-right: 10px;
                            font-size: 25px;
                        }
                    }
                }
                #login-pattern{
                    width: 75%;
                }
            }
        }
    }
    .login-brand-logo{
        position: relative;
        top: 14px;
        left: 14px;
        img{
            height: 50px;
            max-height: 50px;
        }
    }
}