@media screen and (max-width: 1008px) {
    .navbar {
        .is-center {
            width: 90%;
            position: relative;
            left: 0;
            top: 0;
            transform: translate(0, 0);
            margin: 0 auto;
            &:after {
                display: none;
            }
        }
        .navbar-item {
            text-align: center;
        }
        .main-red {
            margin: 0 auto;
        }
        #profile-pic {
            display: none;
        }
        .navbar-dropdown .navbar-item {
            display: none;
        }
        .has-dropdown {
            display: none;
        }
    }
    .modal {
        .modal-content {
            width: 100%;
            margin: 0;
            padding: 0px;
        }
        .card {
            padding: 20px 0;
        }
    }
}


@media screen and (max-width: 768px) {
    .main-section .column .questions-content .questions-item{
        width: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0);
    }

    .main-section .column .questions-content .questions-item{
        padding: 70px 0;
    }
}