@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600&subset=latin-ext");
body,
html {
  font-family: 'Source Sans Pro', sans-serif; }

.navbar {
  border-top: 5px solid #BF4355;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); }
  .navbar .navbar-burger {
    height: 65px; }
  .navbar .navbar-burger.is-active span {
    background: #000; }
  .navbar .navbar-brand .navbar-item:hover {
    background: transparent; }
  .navbar .navbar-brand img {
    height: 50px;
    max-height: 50px; }
  .navbar .main-red {
    background: #BF4355 !important;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif; }
    .navbar .main-red:hover {
      opacity: .9; }
  .navbar .is-center {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .navbar .is-center input {
      width: 350px;
      font-size: 13px;
      height: 40px;
      padding-right: 30px;
      border-radius: 5px;
      border: 1px solid #95989A;
      box-shadow: 0 0 0 transparent; }
      .navbar .is-center input::-webkit-input-placeholder {
        color: rgba(69, 69, 69, 0.45); }
      .navbar .is-center input::-ms-input-placeholder {
        color: rgba(69, 69, 69, 0.45); }
      .navbar .is-center input::-moz-placeholder {
        color: rgba(69, 69, 69, 0.45);
        opacity: 1; }
      .navbar .is-center input::-moz-placeholder {
        color: rgba(69, 69, 69, 0.45);
        opacity: 1; }
    .navbar .is-center:after {
      content: '';
      position: absolute;
      right: 25px;
      top: 50%;
      background-image: url(../img/ic_search_white.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      transform: translateY(-50%);
      color: #000;
      opacity: .6; }
  .navbar #profile-pic {
    width: 50px;
    height: 50px;
    max-height: 50px;
    border-radius: 10px; }
  .navbar .navbar-link::after {
    border: 1px solid #454545;
    border-right: 0;
    border-top: 0; }

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; }

.modal .card {
  border-radius: 10px;
  padding: 20px 30px; }
  .modal .card .profile-info {
    display: flex;
    align-items: center; }
    .modal .card .profile-info img {
      width: 45px;
      height: 45px;
      border-radius: 10px; }
    .modal .card .profile-info h3 {
      display: inline-block;
      font-size: 18px;
      margin: 5px 5px 5px 15px; }
  .modal .card form {
    margin-top: 15px; }
    .modal .card form input {
      font-family: 'Source Sans Pro', sans-serif;
      box-shadow: 0 0 0 transparent;
      -webkit-appearance: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 3px;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 18px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      line-height: 1.5;
      position: relative;
      vertical-align: top;
      background-color: white;
      color: #363636;
      max-width: 100%;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 10px 5px 20px 5px; }
      .modal .card form input:active {
        box-shadow: 0 0 0 transparent; }
      .modal .card form input:focus {
        outline: none; }
    .modal .card form textarea {
      font-family: 'Source Sans Pro', sans-serif;
      box-shadow: 0 0 0 transparent;
      -webkit-appearance: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 3px;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      line-height: 1.5;
      position: relative;
      vertical-align: top;
      background-color: white;
      color: #363636;
      max-width: 100%;
      width: 100%;
      padding: 10px 5px 20px 5px;
      border: none;
      font-size: 14px;
      height: 120px;
      resize: none; }
      .modal .card form textarea:active {
        box-shadow: 0 0 0 transparent; }
      .modal .card form textarea:focus {
        outline: none; }
    .modal .card form button {
      text-align: right;
      background: #27363B;
      outline: none;
      float: right;
      border: none;
      padding: 5px 15px;
      border-radius: 5px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      font-family: 'Source Sans Pro', sans-serif; }
      .modal .card form button .fa {
        color: #fff;
        margin-right: 10px; }

.main-section {
  margin-top: 50px; }
  .main-section .column {
    min-height: calc(90vh - 50px);
    box-shadow: 1px 0 0 0 rgba(204, 204, 204, 0.5); }
    .main-section .column:first-child {
      text-align: right; }
    .main-section .column:last-child {
      box-shadow: 0px 0 0 0 #ccc; }
    .main-section .column .left-icon-column a {
      display: block;
      margin-bottom: 20px; }
      .main-section .column .left-icon-column a svg {
        width: 30px;
        height: 25px;
        fill: #BF4355; }
    .main-section .column .most-popular {
      width: 100%;
      display: block; }
      .main-section .column .most-popular h2 {
        color: #BF4355;
        box-shadow: -5px 0 0 0 #BF4355;
        padding: 0 10px;
        font-weight: 600;
        font-size: 19px;
        transform: translateX(-7px); }
      .main-section .column .most-popular ul {
        padding: 0;
        margin: 20px 0;
        width: 100%;
        display: block; }
        .main-section .column .most-popular ul li {
          position: relative;
          counter-increment: licounter;
          padding: 15px 0; }
          .main-section .column .most-popular ul li:after {
            position: absolute;
            top: -12px;
            left: -7px;
            font-weight: 900;
            font-size: 40px;
            opacity: .2;
            color: #454545;
            content: counter(licounter); }
          .main-section .column .most-popular ul li a {
            color: #454545;
            font-size: 16px; }
            .main-section .column .most-popular ul li a:hover {
              color: #000000; }
    .main-section .column .ask-question {
      width: 95%;
      position: relative;
      display: block;
      margin: 0 auto; }
      .main-section .column .ask-question .ask-question-profile {
        position: relative;
        display: flex;
        transform: translate(20px, 20px); }
        .main-section .column .ask-question .ask-question-profile img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          display: inline-block; }
        .main-section .column .ask-question .ask-question-profile p {
          display: inline-block;
          font-size: 16px;
          font-weight: 400;
          margin: 0 10px;
          color: #454545; }
      .main-section .column .ask-question button {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: #27363B;
        outline: none;
        border: 0;
        position: absolute;
        bottom: -20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main-section .column .ask-question button svg {
          width: 20px;
          fill: #fff; }
      .main-section .column .ask-question input {
        width: 100%;
        outline: none;
        border: 1px solid #ccc;
        padding: 20px 10px 20px 100px;
        border-radius: 10px;
        font-size: 15px; }
        .main-section .column .ask-question input::-webkit-input-placeholder {
          opacity: .3; }
        .main-section .column .ask-question input::-moz-placeholder {
          opacity: .3; }
        .main-section .column .ask-question input:-ms-input-placeholder {
          opacity: .3; }
        .main-section .column .ask-question input:-moz-placeholder {
          opacity: .3; }
    .main-section .column .questions-content, .main-section .column .detail-questions-content, .main-section .column .answer-content {
      width: 95%;
      margin: 0px auto 30px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column; }
      .main-section .column .questions-content .questions-item, .main-section .column .detail-questions-content .questions-item, .main-section .column .answer-content .questions-item {
        position: relative;
        width: calc(100% - 60px);
        transform: translateX(60px);
        -webkit-transform: translateX(60px);
        -moz-transform: translateX(60px);
        padding: 30px 0;
        border-bottom: 1px solid #ccc; }
        .main-section .column .questions-content .questions-item .questions-item-header, .main-section .column .detail-questions-content .questions-item .questions-item-header, .main-section .column .answer-content .questions-item .questions-item-header {
          display: flex;
          padding: 10px 0 20px;
          border-bottom: 1px solid rgba(204, 204, 204, 0.4); }
          .main-section .column .questions-content .questions-item .questions-item-header img, .main-section .column .detail-questions-content .questions-item .questions-item-header img, .main-section .column .answer-content .questions-item .questions-item-header img {
            width: 45px;
            height: 45px;
            border-radius: 10px; }
          .main-section .column .questions-content .questions-item .questions-item-header .ask-name, .main-section .column .detail-questions-content .questions-item .questions-item-header .ask-name, .main-section .column .answer-content .questions-item .questions-item-header .ask-name {
            margin-left: 10px; }
            .main-section .column .questions-content .questions-item .questions-item-header .ask-name p, .main-section .column .detail-questions-content .questions-item .questions-item-header .ask-name p, .main-section .column .answer-content .questions-item .questions-item-header .ask-name p {
              display: block;
              font-size: 18px;
              font-weight: 600;
              margin: 0; }
              .main-section .column .questions-content .questions-item .questions-item-header .ask-name p a, .main-section .column .detail-questions-content .questions-item .questions-item-header .ask-name p a, .main-section .column .answer-content .questions-item .questions-item-header .ask-name p a {
                color: #454545; }
                .main-section .column .questions-content .questions-item .questions-item-header .ask-name p a:hover, .main-section .column .detail-questions-content .questions-item .questions-item-header .ask-name p a:hover, .main-section .column .answer-content .questions-item .questions-item-header .ask-name p a:hover {
                  opacity: .8; }
            .main-section .column .questions-content .questions-item .questions-item-header .ask-name small, .main-section .column .detail-questions-content .questions-item .questions-item-header .ask-name small, .main-section .column .answer-content .questions-item .questions-item-header .ask-name small {
              display: block;
              color: #454545;
              opacity: .8;
              font-size: 13px; }
        .main-section .column .questions-content .questions-item .questions-item-body, .main-section .column .detail-questions-content .questions-item .questions-item-body, .main-section .column .answer-content .questions-item .questions-item-body {
          width: 100%; }
          .main-section .column .questions-content .questions-item .questions-item-body p, .main-section .column .detail-questions-content .questions-item .questions-item-body p, .main-section .column .answer-content .questions-item .questions-item-body p {
            font-size: 20px;
            font-weight: 600;
            width: 100%;
            padding: 10px 0; }
            .main-section .column .questions-content .questions-item .questions-item-body p a, .main-section .column .detail-questions-content .questions-item .questions-item-body p a, .main-section .column .answer-content .questions-item .questions-item-body p a {
              color: #000000; }
              .main-section .column .questions-content .questions-item .questions-item-body p a:hover, .main-section .column .detail-questions-content .questions-item .questions-item-body p a:hover, .main-section .column .answer-content .questions-item .questions-item-body p a:hover {
                opacity: .7; }
          .main-section .column .questions-content .questions-item .questions-item-body span, .main-section .column .detail-questions-content .questions-item .questions-item-body span, .main-section .column .answer-content .questions-item .questions-item-body span {
            font-size: 15px;
            font-weight: 400;
            width: 100%;
            padding: 10px 0;
            opacity: .8; }
            .main-section .column .questions-content .questions-item .questions-item-body span a, .main-section .column .detail-questions-content .questions-item .questions-item-body span a, .main-section .column .answer-content .questions-item .questions-item-body span a {
              color: #454545; }
        .main-section .column .questions-content .questions-item .questions-item-footer, .main-section .column .detail-questions-content .questions-item .questions-item-footer, .main-section .column .answer-content .questions-item .questions-item-footer {
          margin-top: 20px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between; }
          .main-section .column .questions-content .questions-item .questions-item-footer span, .main-section .column .detail-questions-content .questions-item .questions-item-footer span, .main-section .column .answer-content .questions-item .questions-item-footer span {
            font-size: 14px; }
            .main-section .column .questions-content .questions-item .questions-item-footer span a, .main-section .column .detail-questions-content .questions-item .questions-item-footer span a, .main-section .column .answer-content .questions-item .questions-item-footer span a {
              color: #454545; }
          .main-section .column .questions-content .questions-item .questions-item-footer p a, .main-section .column .detail-questions-content .questions-item .questions-item-footer p a, .main-section .column .answer-content .questions-item .questions-item-footer p a {
            border-radius: 10px;
            display: flex;
            justify-content: center;
            padding: 6px 20px 7px;
            color: #fff;
            font-weight: 600;
            background: #27363B; }
            .main-section .column .questions-content .questions-item .questions-item-footer p a:hover, .main-section .column .detail-questions-content .questions-item .questions-item-footer p a:hover, .main-section .column .answer-content .questions-item .questions-item-footer p a:hover {
              background: #3b525a; }
            .main-section .column .questions-content .questions-item .questions-item-footer p a svg, .main-section .column .detail-questions-content .questions-item .questions-item-footer p a svg, .main-section .column .answer-content .questions-item .questions-item-footer p a svg {
              margin-right: 10px;
              height: 23px;
              fill: #fff;
              opacity: .4; }
        .main-section .column .questions-content .questions-item .questions-vote, .main-section .column .detail-questions-content .questions-item .questions-vote, .main-section .column .answer-content .questions-item .questions-vote {
          position: absolute;
          top: 40px;
          left: -50px;
          width: 25px; }
          .main-section .column .questions-content .questions-item .questions-vote a, .main-section .column .detail-questions-content .questions-item .questions-vote a, .main-section .column .answer-content .questions-item .questions-vote a {
            width: 25px;
            height: 20px;
            display: block; }
            .main-section .column .questions-content .questions-item .questions-vote a svg, .main-section .column .detail-questions-content .questions-item .questions-vote a svg, .main-section .column .answer-content .questions-item .questions-vote a svg {
              width: 25px;
              height: 25px;
              fill: #454545;
              opacity: .3; }
            .main-section .column .questions-content .questions-item .questions-vote a:hover svg, .main-section .column .detail-questions-content .questions-item .questions-vote a:hover svg, .main-section .column .answer-content .questions-item .questions-vote a:hover svg {
              opacity: .5; }
          .main-section .column .questions-content .questions-item .questions-vote p, .main-section .column .detail-questions-content .questions-item .questions-vote p, .main-section .column .answer-content .questions-item .questions-vote p {
            width: 25px;
            font-weight: 900;
            text-align: center;
            margin: 0 0 -3px 0;
            font-size: 20px;
            padding: 0;
            opacity: .9; }

.login-content {
  height: 100vh;
  width: 100vw;
  position: relative; }
  .login-content .container {
    height: 100vh; }
    .login-content .container .columns {
      position: relative;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      align-items: center; }
      .login-content .container .columns .column h1 {
        font-size: 45px;
        color: #000;
        font-weight: 600; }
      .login-content .container .columns .column p {
        color: #454545;
        font-size: 17px;
        margin: 20px 0; }
      .login-content .container .columns .column:last-child {
        text-align: center; }
      .login-content .container .columns .column #tw-login-btn {
        outline: none;
        border: 0;
        border-radius: 10px;
        background: #50ABF1;
        color: #fff;
        font-size: 17px;
        padding: 5px 40px;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 30px 0;
        cursor: pointer;
        display: inline-block; }
        .login-content .container .columns .column #tw-login-btn span .fa {
          color: #fff;
          margin-right: 10px;
          font-size: 25px; }
      .login-content .container .columns .column #login-pattern {
        width: 75%; }
  .login-content .login-brand-logo {
    position: relative;
    top: 14px;
    left: 14px; }
    .login-content .login-brand-logo img {
      height: 50px;
      max-height: 50px; }

.detail-questions-content .questions-item {
  width: 100% !important;
  margin: 0 auto;
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  border-bottom: 1px solid transparent !important; }

.detail-questions-content .questions-vote {
  bottom: 30px !important;
  right: 0;
  left: auto !important;
  width: 60px !important;
  top: auto !important; }
  .detail-questions-content .questions-vote a {
    width: 15px !important;
    display: inline-block !important;
    margin-right: 13px; }
  .detail-questions-content .questions-vote p {
    display: none; }

.answer-editor {
  width: 95%;
  position: relative;
  margin: 20px auto;
  display: none; }

.open-editor {
  display: block !important; }

.trumbowyg-button-pane {
  background: #f8ebeb !important; }

.answer-content {
  width: 95%;
  margin: 20px auto;
  display: block; }
  .answer-content h3 {
    font-size: 19px;
    font-weight: 700;
    color: #27363B;
    padding-bottom: 10px;
    border-bottom: 2px solid #27363B; }
  .answer-content .share-item {
    position: absolute;
    top: 40px;
    right: 10px; }

@media screen and (max-width: 1008px) {
  .navbar .is-center {
    width: 90%;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    margin: 0 auto; }
    .navbar .is-center:after {
      display: none; }
  .navbar .navbar-item {
    text-align: center; }
  .navbar .main-red {
    margin: 0 auto; }
  .navbar #profile-pic {
    display: none; }
  .navbar .navbar-dropdown .navbar-item {
    display: none; }
  .navbar .has-dropdown {
    display: none; }
  .modal .modal-content {
    width: 100%;
    margin: 0;
    padding: 0px; }
  .modal .card {
    padding: 20px 0; } }

@media screen and (max-width: 768px) {
  .main-section .column .questions-content .questions-item, .main-section .column .detail-questions-content .questions-item, .main-section .column .answer-content .questions-item {
    width: 100%;
    transform: translateX(0);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0); }
  .main-section .column .questions-content .questions-item, .main-section .column .detail-questions-content .questions-item, .main-section .column .answer-content .questions-item {
    padding: 70px 0; } }
